{% include "basePage.html" %}
{% include "navigation.html" %}

{% block content %}
<h1 class="text-center" style="margin-top: 50px;"><strong>About Us</strong></h1>
<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col-md-6">
            <h2 class="site-heading text-center">Who are we..? <br>What we do..?</h2>
            <p class="lead">We are the proffessionals encraving and giving strength with beautifying yor teeths.</p>
        </div>
        <div class="col-md-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, repellat ea dolor fugiat ullam eius
                laboriosam quasi mollitia maiores suscipit officiis distinctio sequi consequatur dicta, asperiores
                repudiandae dolorem, accusamus neque!

            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab molestiae facilis sapiente perspiciatis
                quas, atque dicta! Porro adipisci harum perferendis vero, animi accusamus velit nostrum nulla debitis,
                assumenda, cum cupiditate!
            </p>
        </div>
        <div class="row">
            <div class="site-heading text-center" style="margin-top: 50px;">
                <h3 class="strong">Our Team</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Incidunt adipisci odio ipsum sunt
                    laudantium cumque, impedit eaque voluptas autem vitae dolores quasi illum maxime, obcaecati
                    aspernatur asperiores error saepe ea.</p>
                <div class="border"></div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
{% include "footer.html" %}
