{% extends "basePage.html" %}


{% block content %}
<div class="container">
    <h1 class="text-center mt-5"><strong>About Us</strong></h1>
    <div class="row mt-5">
        <div class="col-md-6 animate__animated animate__fadeInLeft">
            <h2 class="site-heading text-center">Who are we..? <br>What we do..?</h2>
            <p class="lead">We are professionals engraving and giving strength while beautifying your teeth.</p>
        </div>
        <div class="col-md-6 animate__animated animate__fadeInRight">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, magna vel faucibus bibendum, nulla
                nulla facilisis eros, vel fringilla mauris magna vel nulla.</p>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                explicabo.</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="site-heading text-center">
            <h3 class="strong">Our Team</h3>
            <p>Meet our dedicated team of dental professionals committed to providing exceptional care.</p>
            <div class="border"></div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4 animate__animated animate__fadeInUp">
            <div class="card">
                <img src="https://via.placeholder.com/350x200" class="card-img-top" alt="Team Member">
                <div class="card-body">
                    <h5 class="card-title">John Doe</h5>
                    <p class="card-text">Lead Dentist</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 animate__animated animate__fadeInUp animate__delay-1s">
            <div class="card">
                <img src="https://via.placeholder.com/350x200" class="card-img-top" alt="Team Member">
                <div class="card-body">
                    <h5 class="card-title">Jane Smith</h5>
                    <p class="card-text">Dental Hygienist</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 animate__animated animate__fadeInUp animate__delay-2s">
            <div class="card">
                <img src="https://via.placeholder.com/350x200" class="card-img-top" alt="Team Member">
                <div class="card-body">
                    <h5 class="card-title">Michael Johnson</h5>
                    <p class="card-text">Orthodontist</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
