{% include "basePage.html" %}
{% include "navigation.html" %}


{% block content %}
<div class="container" style="margin-top: 50px;">
    <h1 class="text-center">This is contact us page</h1>
    <div class="row mt-5 text-center">
        <div class="col-lg-3">
            <h4><i class="fas fa-phone-square">&nbsp; Contact Numbers :</i></h4>
            <p><a href="tel:+919921258333">+91 9921258333</a></p>
        </div>
        <div class="col-lg-3">
            <h4>Send e-mail :</h4>
        </div>
        <div class="col-lg-3">
            <h4>Clinic Address : </h4>
        </div>
        <div class="col-lg-3">
            <h4>Clinic Timings : </h4>
        </div>
    </div>
</div>
{% endblock content %}