<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home Page</title>
    </head>

    <body style="background-color: rgb(25, 25, 25);">
        <center>
            <h1 style="color: white;">Home welcome Page</h1>
            <!-- main heding navigation bar  -->
            <div style="background-color: rgb(76, 76, 77);">
                <br>
                <br>
                <br>
                
                <form action="{% url 'addNewPatient' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Add Patient</button>
                </form>
                <br>
                <form action="{% url 'addDoctor' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Add Doctor</button>
                </form>
                <br>
                <form action="{% url 'addAppointment' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Add Appointment</button>
                </form>
                <br>
                <form action="{% url 'addPrescription' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Add Prescription</button>
                </form>
                <br>
                <form action="{% url 'addBilling' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Add Billing</button>
                </form>
                <br>
                <form action="{% url 'addReview' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Add Review</button>
                </form>
                <br>
                <form action="{% url 'allDetails' %}" method="post">
                    {% csrf_token %}
                    <input type="text" placeholder="Enter ID of patient" name="patientID" id="patientID">
                    <button type="submit">Find </button>
                </form>
                <br>
                <br>

            </div>
        </center>



    </body>

</html>