{% load static %}
{% include "basePage.html" %}

{% include "navigation.html" %}


{% block content %}
<section>
    <div>
        <h1>Welcome to Clinic Management System Home Page | Surya</h1>
    </div>
    <div>
        <p>
            <span>
                <h4>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur itaque aliquid sequi,
                    obcaecati quasi error quisquam ut quo aut earum mollitia ipsa doloribus dolore molestiae, fuga
                    placeat velit quos adipisci.</h4>
            </span>
        </p>
    </div>
    </div>
</section>
{% endblock content %}
{% include "footer.html" %}