{% include "basePage.html" %}
{% include "navigation.html" %}
{% block content %}


{% if error == "no" %}
<script>
    alert("Logged in Successfully ! ");
    window.location = "{% url 'index' %}";
</script>
{% endif %}
{% if error == "yes" %}
<script>
    alert("Invalid login crediantials. Please...Try Again !! ");
</script>
{% endif %}


<div class="container">
    <div>
        <h1 style="text-align: center;">Login Page</h1><br />
    </div>
    <div class="col-6">

    </div>
    <div class="row">
        <form method="POST">
            {% csrf_token %}
            <label>Admin Name</label>
            <input type="text" class="form-control" name="username" id="">
            <label>Password</label>
            <input type="password " class="form-control" name="password" id="">
<br>
            <input type="submit" value="login" class="form-control btn btn-primary">
        </form>
    </div>
</div>

{% endblock content %}
{% include "footer.html" %}