{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Appointment</title>
    </head>
    {% include "basePage.html" %}
    {% include "navigation.html" %}
    {% load static %}

    <body>
        {% block content %}

        <div>
            <div class="containt_center">
                <div class="container">
                    <div class="row">
                        <div>
                            <form action="" method=POST>
                                {% comment %} <form action="{% url 'addAppointment' %}" method="POST"> {% endcomment %}
                                    <h1 class="text-center">ADD NEW APPOINTMENT FORM</h1>

                                    {% csrf_token %}
                                    <div>

                                        <table class="table table-dark table-striped-columns">
                                            <td>
                                                {{ appForm.as_table }}
                                            </td>
                                            <td>
                                                <input type="submit" value="submit" class='btn btn-primary'>
                                            </td>
                                        </table>

                                </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </body>
    {% endblock content %}

</html>