.homepage{
    color:rgb(234, 11, 122);
    text-align: center;
    margin-left: 2cm;
}
.infoTable{
    border: 0.5mm solid black;
    padding: auto;
}

.patientInfo{
    text-align: center;
}

.containt_center{
    text-align: center;
    margin-left: 100px;
}

.main_div{
    padding-left: 10px;
    padding-right: 10px;
}